:root {
    --primary-color:#FF8303;
    --secondary-color:#FE8509;
    --secondary-color-rgb:rgb(254, 133, 9);
    --background-color:#FCF6EB;
    --white-color:#FFFFFF;
    --white-color-2:#F5F5F5;
    --black-color:#090A0A;
    --tw-gradient-to: #0062e0;
    --tw-gradient-from: #19afff;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-text-opacity: 1;
    --graw: rgb(107 114 128/var(--tw-text-opacity));
    --border-color:#E5E7EB;
    --border-radius-5: 50% ;
    --border-radius-10: 10px ;
    --border-radius-20: 20px ;
    --border-radius-30: 30px ;

    --width-0:0;
    --width-100:100%;
    --width-100vw:100vw;
    --width-50:50%;

    --height-100:100%;
    --height-100vh:100vh;
    --height-50:50%;
    --height-50px:50px;
    --height-60px:60px;
    --height-70px:70px;
    --height-80px:80px;
    --height-90px:90px;

    --trbl-0:0;
    --trbl-5:50%;
    --trbl-100:100%;

    --trbl-5-:-50%;
    --trbl-100-:-100%;

    

    --font--size1:1rem;
    --font--size1-5:1.5rem;
    --font--size2:2rem;
    --font--size2-5:2.5rem;

    --padding1:10px;
    --padding2:20px;
    --padding3:30px;
    --padding4:40px;
    --padding5:50px;

    --margin1:10px;
    --margin2:20px;
    --margin3:30px;
    --margin4:40px;
    --margin5:50px;
    --margin6:60px;

    --font-family: 'Poppins', sans-serif;
    --fw2:200;
    --fw3:300;
    --fw4:400;
    --fw5:500;
    --fw6:600;
    --fw7:700;
    --fw8:800;
    --fw9:900;

    --transition-3: .3s ease-in-out;
    --transition-5: .5s ease-in-out;

    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-color: rgb(255 131 3 / .7);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    --tw-shadow-color-bule: rgb(0 98 224 / .4);
    --tw-shadow-color-bule-2: rgb(0 98 224 / .4);
    --tw-shadow-colored-bu: 0 4px 6px -1px var(--tw-shadow-color-bule), 0 2px 4px -2px var(--tw-shadow-color-bule-2);
    
}

.color-secondary {
    color: var(--secondary-color);
}
.fs-8 {
    font-size: .8rem;
}
* , ::after , ::before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
} 
input {
    outline: none;
    border: none;
    width: 100%;
    display: block;
}
button {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    
}
.container {
    margin: 0 auto;
}

img {
    max-width: var(--width-100);
    
}
section {
    padding: var(--padding5) 0;
}
button {
    padding: var(--padding2) var(--padding4);
    border-radius: var(--border-radius-30);
    font-weight: var(--fw8);
    transition: var(--transition-3);
}
button:hover {
    transform: translateY(-5px);
}
.btn-white {
    background-color: var(--white-color);
    box-shadow: var(--tw-shadow);
    color: var(--primary-color);
}
.btn-orangen {
    background-color: var(--primary-color);
    box-shadow: var(--tw-shadow-colored);
    color: var(--white-color);
}

/* start section links */
.container .links .link a::after {
background-color: var(--graw);
width: 0;
}
.container .links .link:hover {
    transform: translatey(0);
    opacity: .8;
}

/* End section links */

/* Start about */
.item::after {
    content: '';
    position: absolute;
    width:0;
    height: 2px;
    left: 0;
    background-color: var(--secondary-color);
    bottom: 0;
    transition: var(--transition-5);
}

.item:hover::after,.active::after {
    width: 100%;
}
.tabs .tab {
    display: none;
    animation: moving var(--transition-5);
}
.tabs .active {
    display: block;
    transition: var(--transition-5);
}


/* animation */
@keyframes moving {
    from{
        transform: translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.box {
    transition: var(--transition-5);
    cursor: pointer;
}
.box:hover {
    border-color: var(--secondary-color) !important;
}

/* End about */



















/* media quare */

@media (0px <= width <= 640px) {
.contents {
    flex-direction: column;
}
.btnclick{
    margin-top: var(--margin2);
    width: var(--width-100)!important;
}
}

@media ( 640px <= width <= 768px) {
    
}

@media (min-width: 768px) {
    .btnclick {
        width: 100% !important;
        
    }
    .image-reviews {
        width: 80px;
    }
}

@media (min-width: 1024px) {
    
    .image-reviews {
        width: 80px;
    }
}