@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color:#FF8303;
    --secondary-color:#FE8509;
    --secondary-color-rgb:rgb(254, 133, 9);
    --background-color:#FCF6EB;
    --white-color:#FFFFFF;
    --white-color-2:#F5F5F5;
    --black-color:#090A0A;
    --tw-gradient-to: #0062e0;
    --tw-gradient-from: #19afff;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-text-opacity: 1;
    --graw: rgb(107 114 128/var(--tw-text-opacity));
    --border-color:#E5E7EB;
    --border-radius-5: 50% ;
    --border-radius-10: 10px ;
    --border-radius-20: 20px ;
    --border-radius-30: 30px ;

    --width-0:0;
    --width-100:100%;
    --width-100vw:100vw;
    --width-50:50%;

    --height-100:100%;
    --height-100vh:100vh;
    --height-50:50%;
    --height-50px:50px;
    --height-60px:60px;
    --height-70px:70px;
    --height-80px:80px;
    --height-90px:90px;

    --trbl-0:0;
    --trbl-5:50%;
    --trbl-100:100%;

    --trbl-5-:-50%;
    --trbl-100-:-100%;

    

    --font--size1:1rem;
    --font--size1-5:1.5rem;
    --font--size2:2rem;
    --font--size2-5:2.5rem;

    --padding1:10px;
    --padding2:20px;
    --padding3:30px;
    --padding4:40px;
    --padding5:50px;

    --margin1:10px;
    --margin2:20px;
    --margin3:30px;
    --margin4:40px;
    --margin5:50px;
    --margin6:60px;

    --font-family: 'Poppins', sans-serif;
    --fw2:200;
    --fw3:300;
    --fw4:400;
    --fw5:500;
    --fw6:600;
    --fw7:700;
    --fw8:800;
    --fw9:900;

    --transition-3: .3s ease-in-out;
    --transition-5: .5s ease-in-out;

    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    --tw-shadow-color: rgb(255 131 3 / .7);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    --tw-shadow-color-bule: rgb(0 98 224 / .4);
    --tw-shadow-color-bule-2: rgb(0 98 224 / .4);
    --tw-shadow-colored-bu: 0 4px 6px -1px var(--tw-shadow-color-bule), 0 2px 4px -2px var(--tw-shadow-color-bule-2);
    
}
.color-secondary {
    color: var(--secondary-color);
}
.fs-6-v {
    font-size: .6rem;
}
.fs-6-v {
    font-size: .7rem;
}
.fs-8 {
    font-size: .8rem;
}
* , ::after , ::before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
} 
input {
    outline: none;
    border: none;
    width: 100%;
    display: block;
}
button {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    
}
.container {
    margin: 0 auto;
}

img {
    max-width: var(--width-100);
    
}
section {
    padding: var(--padding5) 0;
}
button {
    padding: var(--padding2) var(--padding4);
    border-radius: var(--border-radius-30);
    font-weight: var(--fw8);
    transition: var(--transition-3);
}
button:hover {
    transform: translateY(-5px);
}
.btn-white {
    background-color: var(--white-color);
    box-shadow: var(--tw-shadow);
    color: var(--primary-color);
}
.btn-orangen {
    background-color: var(--primary-color);
    box-shadow: var(--tw-shadow-colored);
    color: var(--white-color);
}
.pointer {
    cursor: pointer;
}

.color-secondary {
    color: var(--secondary-color);
}
.fs-8 {
    font-size: .8rem;
}
.bg-orangen {
    background-color: var(--primary-color);
}


.image-pay {
    width: 100px;
}
.line {
    position: relative;
}
.line::after {
    width: 100%;
    height: 5px ;
    background-color: var(--white-color-2);
    position: absolute;
    content: "";
    top: -15px;
    border-radius: var(--border-radius-20);
    z-index: 1;
}
.line::before {
    width: 25%;
    height: 5px ;
    background-color: var(--secondary-color);
    position: absolute;
    content: "";
    top: -15px;
    border-radius: var(--border-radius-20) ;
    z-index: 2;
}



/* media quare */
@media (0px <= width <= 640px) {
    .title-body {
        flex-direction: column;
    }
    .box {
        padding: 10px !important;
    }
    .box-body {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 !important;
    }
    .box-body div {
        flex-direction: column;
        align-items: flex-start !important;

    }
    .box-body div div img {
        width: 100%;
    }
    .box-body .session  {
        padding: 5px !important;
        margin-top:10px ;
        align-self: flex-start;
    }
    .body-totole {
        flex-direction: column;
    }
    .body-totole .box {
        width: var(--width-100) !important;
        padding: 10px !important;
    }
}@media ( 640px <= width <= 768px) {
    .title-body {
        flex-direction: column;
    }
    .box {
        padding: 10px !important;
    }
    .box-body {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 !important;
    }
    .box-body div {
        flex-direction: column;
        align-items: flex-start !important;

    }
    .box-body div div img {
        width: 100%;
    }
    .box-body .session  {
        padding: 5px !important;
        margin-top:10px ;
        align-self: flex-start;
    }
    .body-totole {
        flex-direction: column;
    }
    .body-totole .box {
        width: var(--width-100) !important;
        padding: 10px !important;
    }
}